body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

// app global css in SCSS form
.color-infected {
  color: $infected;
}
.bg-infected {
  background-color: $infected;
}

.color-tested {
  color: $tested;
}
.bg-tested {
  background-color: $tested;
}

.color-recovered {
  color: $recovered;
}
.bg-recovered {
  background-color: $recovered;
}

.color-deceased {
  color: $deceased;
}
.bg-deceased {
  background-color: $deceased;
}

// FLEX-RELATED
.flex-gap-2 {
  gap: 2em;

  @supports not(gap: 2em) {
    // if gap is not supported (android/ios)
    & > * {
      margin-bottom: 2em;
    }

    & > *:nth-child(odd) {
      margin-right: 2em;
    }
  }
}


// FONTS
.statistics-count {
  font-size: 1.5rem;
  font-weight: 700;
}